/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.all-the-same {
    background-image: url('~assets/images/all-the-same.svg');
}

.slick-slide {
    outline: none;
}

.one, .two, .three {
    background-size: cover;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    transition: height .6s cubic-bezier(.645,.045,.355,1);
}

.one {
    background-image: url('~assets/images/one.png');
}

.two {
    background-image: url('~assets/images/two.png');
}

.three {
    background-image: url('~assets/images/three.png');
}
